.css-1jqq78o-placeholder{
    font-size: 14px !important;
    color: #000000 !important;
}

.css-13cymwt-control, .css-t3ipsp-control{
    border-color: rgb(209 213 219/1) !important;
    box-shadow: none !important;
}
